body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: powderblue;
    font-family: "Courier New", monospace;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 2.5em;
    color: #000000;
    font-family: "Courier New", monospace;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
