body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: powderblue;
    font-family: "Brush Script MT", cursive;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 2.5em;
    color: black;
    font-family: "Brush Script MT", cursive;
}


.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
